.sun

.mountain-range
  .mountain
  .mountain
  .mountain
  .mountain

.forest
  - for (var x = 0; x < 20; x++)
    .tree
    
.road
  .road__line
  .road__line

.van
  .lid
    .lid__window.window
      .window__pane.window__pane--left
      .window__pane.window__pane--right
  .hood
    .hood__panel.hood__panel--left
    .hood__panel.hood__panel--right
    i.fas.fa-peace.hood__ornament
    .hood__light.hood__light--left
    .hood__light.hood__light--right
    .hood__light.hood__light--left.hood__light--small
    .hood__light.hood__light--right.hood__light--small
  .bumper
    .bumper__gaurd.bumper__gaurd--left
    .bumper__gaurd.bumper__gaurd--right
  .tire.tire--left
  .tire.tire--right
  
  